Repository ElLuchoMan/restaurante-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
        args:
          - "--fix=auto"

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
      - id: pyupgrade
        args:
          - "--py310-plus"
        stages:
          - manual

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: '(\.ya?ml)$'

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks
        args:
          - "detect"
          - "--no-banner"
          - "--redact"
        stages:
          - pre-commit
          - pre-push

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: npx prettier --write
        files: '^(src|tools|public)/.*\.(ts|js|html|scss|md|json|ya?ml|css)$'
        exclude: 'src/assets/lib/'

      - id: eslint
        name: eslint
        language: system
        entry: npx eslint --fix --quiet --max-warnings=100
        files: '^src/.*\.(ts|js)$'

      - id: stylelint
        name: stylelint
        language: system
        entry: npx stylelint --fix
        files: '^src/app/.*\.scss$'
        exclude: ''

      - id: jest
        name: jest (affected)
        language: system
        entry: npx jest -c jest.config.cjs --bail --findRelatedTests
        files: '^src/.*\.(ts|html|scss)$'
        pass_filenames: true
        stages:
          - manual

      - id: validate-mocks
        name: validate mocks
        language: system
        entry: npm run validate:mocks --silent
        files: '^src/.*\.(ts)$'
        stages:
          - manual
ci:
  autofix_prs: false
  skip:
    - pyupgrade
    - jest
    - validate-mocks

test: expand service coverage
  src/app/core/services/domicilio.service.spec.ts
  src/app/core/services/horario-trabajador.service.spec.ts
  src/app/core/services/nomina-trabajador.service.spec.ts
  src/app/core/services/nomina.service.spec.ts
  src/app/core/services/pedido.service.spec.ts
  src/app/core/services/precio-producto-hist.service.spec.ts
  src/app/core/services/producto-pedido.service.spec.ts
  src/app/core/services/producto.service.spec.ts
  src/app/core/services/reserva-contacto.service.spec.ts
  src/app/core/services/reserva.service.spec.ts
  src/app/core/services/restaurante-dia.service.spec.ts
  src/app/core/services/trabajador.service.spec.ts
Due: prettier, eslint

test: cover reserva service id and delete
  src/app/core/services/reserva.service.spec.ts
Due: prettier, eslint

chore/ui: sync enums/models/mocks with Swagger and Datos.sql; add ReservaBase/Populada; EstadoPedido typed; fix ProductoPedido.detalles; add ClienteListParams and error mocks; update tests and docs
  README.md
  docs/fix-models-mocks-enums.md
  src/app/core/services/horario-trabajador.service.spec.ts
  src/app/core/services/horario-trabajador.service.ts
  src/app/core/services/metodos-pago.service.spec.ts
  src/app/core/services/metodos-pago.service.ts
  src/app/core/services/reserva.service.ts
  src/app/modules/auth/register/register.component.ts
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.spec.ts
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.ts
  src/app/modules/public/reservas/crear-reserva/crear-reserva.component.ts
  src/app/modules/public/reservas/reservas-del-dia/reservas-del-dia.component.ts
  src/app/shared/components/footer/footer.component.ts
  src/app/shared/constants.ts
  src/app/shared/mocks/cliente.mock.ts
  src/app/shared/mocks/error.mock.ts
  src/app/shared/mocks/horario-trabajador.mock.ts
  src/app/shared/mocks/mocks.spec.ts
  src/app/shared/mocks/pedido.mock.ts
  src/app/shared/mocks/producto-pedido.mock.ts
  src/app/shared/mocks/reserva.mocks.ts
  src/app/shared/models/cliente.model.ts
  src/app/shared/models/horario-trabajador.model.ts
  src/app/shared/models/pedido.model.ts
  src/app/shared/models/producto-pedido.model.ts
  src/app/shared/models/reserva.model.ts
  src/app/shared/models/restaurante.model.ts
  src/app/shared/models/trabajador.model.ts
Due: prettier, eslint

Aligned: swagger
  src/app/core/services/cambios-horario.service.ts
  src/app/core/services/user.service.spec.ts
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.ts
  src/app/modules/public/reservas/reservas-del-dia/reservas-del-dia.component.ts
  src/app/shared/mocks/incidencias.mock.ts
  src/app/shared/mocks/login.mock.ts
  src/app/shared/mocks/mocks.spec.ts
  src/app/shared/mocks/nomina-trabajador.mock.ts
  src/app/shared/mocks/reserva-contacto.mock.ts
  src/app/shared/models/login.model.ts
  src/app/shared/models/pedido.model.ts
  src/app/shared/models/reserva-contacto.model.ts
  tools/compare-swagger-services.mjs
Due: prettier, eslint

Fixed: webview home
  README.md
  android/app/src/main/res/xml/network_security_config.xml
  capacitor.config.ts
  package.json
  src/app/modules/public/home/home.component.html
  src/app/modules/public/home/home.component.scss
  src/app/modules/public/home/home.component.ts
  src/app/shared/components/footer/footer.component.html
  src/app/shared/components/footer/footer.component.scss
  tools/android-live.mjs
Due: prettier, eslint, stylelint

feat: Added back detection in android
  android/app/capacitor.build.gradle
  android/app/src/main/java/cocina/maria/app/MainActivity.java
  android/capacitor.settings.gradle
  package-lock.json
  package.json
  src/app/app.component.ts
Due: prettier, eslint

finished: home view
  src/app/modules/public/home/home.component.html
  src/app/modules/public/home/home.component.scss
  src/app/shared/components/header/header.component.html
  src/app/shared/components/header/header.component.ts
Due: prettier, eslint, stylelint

Fixed: bottom bar
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/modules/public/home/home.component.html
  src/app/modules/public/home/home.component.scss
  src/app/modules/public/home/home.component.ts
  src/app/shared/components/header/header.component.ts
Due: prettier, eslint, stylelint

feat: added quick actions
  src/app/app.component.html
  src/app/app.component.ts
  src/app/shared/components/header/header.component.html
  src/app/shared/components/header/header.component.scss
  src/app/shared/components/header/header.component.ts
  src/app/shared/components/quick-actions/quick-actions.component.html
  src/app/shared/components/quick-actions/quick-actions.component.scss
  src/app/shared/components/quick-actions/quick-actions.component.ts
Due: prettier, eslint, stylelint

Se ocultan quick settings al lllegar al footer
  src/app/shared/components/quick-actions/quick-actions.component.scss
  src/app/shared/components/quick-actions/quick-actions.component.ts
Due: prettier, eslint, stylelint

feat: added minor fixes
  src/app/app.component.html
  src/app/app.component.ts
  src/app/shared/components/quick-actions/quick-actions.component.html
  src/app/shared/components/quick-actions/quick-actions.component.ts
Due: prettier, eslint

feat: minor fixes to taopbar an quick actions bar
  src/app/app.component.html
  src/app/shared/components/native-topbar/native-topbar.component.html
  src/app/shared/components/native-topbar/native-topbar.component.scss
  src/app/shared/components/native-topbar/native-topbar.component.ts
  src/app/shared/components/quick-actions/quick-actions.component.ts
Due: prettier, eslint, stylelint

feat/ui: webview UX mejorada en Home y app
  src/app/app.component.html
  src/app/shared/components/native-topbar/native-topbar.component.html
  src/app/shared/components/native-topbar/native-topbar.component.scss
  src/app/shared/components/native-topbar/native-topbar.component.ts
  src/app/shared/components/quick-actions/quick-actions.component.ts
Due: prettier, eslint, stylelint

perf/ui: compactar barra QuickActions en webview (altura/padding/icono)
  src/app/shared/components/quick-actions/quick-actions.component.scss
Due: prettier, stylelint

perf/ui: reducir aún más la altura de QuickActions (50px) y padding
  src/app/shared/components/quick-actions/quick-actions.component.scss
Due: prettier, stylelint

perf/ui: compactar QuickActions a 44px manteniendo accesibilidad
  src/app/shared/components/quick-actions/quick-actions.component.scss
Due: prettier, stylelint

fix/ui: evitar doble QuickActions en Home cuando es webview; corregir detección isWebView
  src/app/modules/public/home/home.component.html
  src/app/modules/public/home/home.component.ts
Due: prettier, eslint

perf/ui: reducir separación entre cards de QuickActions (gutters compactos)
  src/app/shared/components/quick-actions/quick-actions.component.html
  src/app/shared/components/quick-actions/quick-actions.component.scss
Due: prettier, stylelint

feat/ui: QuickActions con fondo de barra transparente (solo dock visible)
  src/app/shared/components/quick-actions/quick-actions.component.html
  src/app/shared/components/quick-actions/quick-actions.component.scss
Due: prettier, stylelint

style/ui: eliminar blur del fondo en QuickActions (fondo 100% transparente)
  src/app/shared/components/quick-actions/quick-actions.component.scss
Due: prettier, stylelint

feat/ui: rediseño QuickActions estilo dock + ripple 1.5s accesible
  src/app/shared/components/quick-actions/quick-actions.component.scss
  src/app/shared/components/quick-actions/quick-actions.component.ts
Due: prettier, eslint, stylelint

test/ui: 100% cobertura HomeComponent; mocks nativos (Capacitor/IO/TransferState) y ajuste de observer del footer
  .cursorrules
  src/app/core/services/cambios-horario.service.spec.ts
  src/app/core/services/user.service.ts
  src/app/modules/auth/login/login.component.html
  src/app/modules/auth/login/login.component.scss
  src/app/modules/auth/login/login.component.ts
  src/app/modules/public/home/home.component.spec.ts
  src/app/shared/components/native-topbar/native-topbar.component.spec.ts
  src/app/shared/components/quick-actions/quick-actions.component.spec.ts
Due: prettier, eslint, stylelint

feat: updated login
  src/app/modules/auth/login/login.component.html
  src/app/modules/auth/login/login.component.scss
  src/app/modules/auth/login/login.component.ts
Due: prettier, eslint, stylelint

feat/ui: implementar sistema completo de refresh tokens con funcionalidad Recordarme
  package.json
  src/app/core/app.config.ts
  src/app/core/interceptors/auth-refresh.interceptor.spec.ts
  src/app/core/interceptors/auth-refresh.interceptor.ts
  src/app/core/services/user.service.spec.ts
  src/app/core/services/user.service.ts
  src/app/modules/auth/login/login.component.html
  src/app/modules/auth/login/login.component.scss
  src/app/modules/auth/login/login.component.spec.ts
  src/app/modules/auth/login/login.component.ts
  src/app/shared/mocks/login.mock.ts
  src/app/shared/mocks/test-doubles.ts
  src/app/shared/models/login.model.ts
Due: prettier, eslint, stylelint

feat: implements some fixes
  package.json
  src/app/modules/public/home/home.component.html
  src/app/modules/public/home/home.component.scss
  src/app/shared/components/header/header.component.ts
  src/app/shared/components/native-topbar/native-topbar.component.html
  src/app/shared/components/native-topbar/native-topbar.component.scss
  src/app/shared/components/native-topbar/native-topbar.component.ts
  src/app/shared/components/quick-actions/quick-actions.component.html
  src/app/shared/components/quick-actions/quick-actions.component.scss
Due: prettier, eslint, stylelint

feat: updated home
  src/app/modules/public/home/home.component.html
  src/app/modules/public/home/home.component.scss
  src/app/modules/public/home/home.component.ts
Due: prettier, eslint, stylelint

feat/ui: servicio de telemetría híbrido - API REST + logging local
  package.json
  src/app/core/services/telemetry.service.spec.ts
  src/app/core/services/telemetry.service.ts
  src/app/shared/mocks/telemetry.mock.ts
  src/app/shared/mocks/test-doubles.ts
  src/app/shared/models/telemetry.model.ts
Due: prettier, eslint

feat: implements telemetría
  package.json
  src/app/core/services/telemetry.service.spec.ts
  src/app/modules/admin/telemetry/telemetry-dashboard.component.html
  src/app/modules/admin/telemetry/telemetry-dashboard.component.scss
  src/app/modules/admin/telemetry/telemetry-dashboard.component.spec.ts
  src/app/modules/admin/telemetry/telemetry-dashboard.component.ts
  src/app/shared/mocks/test-doubles.ts
  src/app/shared/models/telemetry.model.ts
Due: prettier, eslint, stylelint

Fixed: telemetry
  src/app/core/services/telemetry.service.ts
  src/app/modules/admin/telemetry/telemetry-dashboard.component.html
  src/app/modules/admin/telemetry/telemetry-dashboard.component.scss
  src/app/modules/admin/telemetry/telemetry-dashboard.component.ts
  src/assets/_base.scss
  src/assets/_variables.scss
Due: prettier, eslint, stylelint

added: table cards
  .cursorrules
  src/app/modules/admin/telemetry/telemetry-dashboard.component.html
  src/app/modules/admin/telemetry/telemetry-dashboard.component.scss
  src/assets/_base.scss
Due: prettier, stylelint

Addded: overflow!
  src/assets/_base.scss
Due: prettier

Fixed: styles
  src/assets/_base.scss
Due: prettier

Updated: styles
  .cursorrules
  package.json
  src/app/modules/auth/login/login.component.scss
  src/assets/_base.scss
  src/assets/styles.scss
Due: prettier, stylelint

Updated: styles
  .cursorrules
  src/app/modules/auth/login/login.component.html
  src/app/modules/auth/login/login.component.scss
  src/app/modules/public/reservas/crear-reserva/crear-reserva.component.html
  src/assets/_base.scss
Due: prettier, stylelint

Updated: styles
  .cursorrules
  src/app/modules/admin/productos/crear-producto/crear-producto.component.html
  src/app/modules/admin/productos/menu-productos/productos.component.html
  src/app/modules/admin/telemetry/telemetry-dashboard.component.html
  src/app/modules/admin/telemetry/telemetry-dashboard.component.scss
  src/app/modules/auth/login/login.component.html
  src/app/modules/auth/login/login.component.scss
  src/app/modules/auth/register/register.component.html
  src/app/modules/client/perfil/perfil.component.html
  src/app/modules/public/domicilios/consultar-domicilios/consultar-domicilios.component.html
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.html
  src/app/modules/public/reservas/crear-reserva/crear-reserva.component.html
  src/app/modules/public/reservas/menu-reservas/menu-reservas.component.html
  src/app/modules/public/reservas/reservas-del-dia/reservas-del-dia.component.html
  src/app/modules/trabajadores/domicilios/tomar-domicilio/tomar-domicilio.component.html
  src/assets/_base.scss
  src/assets/_variables.scss
Due: prettier, stylelint

Updated: styles
  src/app/modules/admin/telemetry/telemetry-dashboard.component.html
  src/app/modules/admin/telemetry/telemetry-dashboard.component.scss
  src/app/modules/auth/login/login.component.html
  src/app/modules/auth/login/login.component.scss
  src/app/modules/public/domicilios/consultar-domicilios/consultar-domicilios.component.html
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.html
  src/app/modules/public/reservas/reservas-del-dia/reservas-del-dia.component.html
  src/assets/_base.scss
  src/assets/_utilities.scss
Due: prettier, stylelint

Fixed:styles
  angular.json
  src/app/app.component.html
  src/app/app.component.scss
  src/app/modules/auth/login/login.component.html
  src/app/shared/components/native-topbar/native-topbar.component.scss
  src/assets/_base.scss
Due: prettier, stylelint

Fixed:styles
  src/app/modules/auth/login/login.component.html
  src/app/modules/auth/login/login.component.scss
  src/assets/_base.scss
Due: prettier, stylelint

Fixed:styles
  angular.json
  src/app/modules/admin/telemetry/telemetry-dashboard.component.scss
  src/app/modules/auth/login/login.component.scss
  src/assets/_base.scss
  src/assets/_utilities.scss
Due: prettier, stylelint
