Repository ElLuchoMan/restaurante-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
        args:
          - "--fix=auto"

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
      - id: pyupgrade
        args:
          - "--py310-plus"
        stages:
          - manual

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: '(\.ya?ml)$'

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks
        args:
          - "detect"
          - "--no-banner"
          - "--redact"
        stages:
          - pre-commit
          - pre-push

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: npx prettier --write
        files: '^(src|tools|public)/.*\.(ts|js|html|scss|md|json|ya?ml|css)$'
        exclude: 'src/assets/lib/'

      - id: eslint
        name: eslint
        language: system
        entry: npx eslint --fix --quiet --max-warnings=100
        files: '^src/.*\.(ts|js)$'

      - id: stylelint
        name: stylelint
        language: system
        entry: npx stylelint --fix
        files: '^src/app/.*\.scss$'
        exclude: ''

      - id: jest
        name: jest (affected)
        language: system
        entry: npx jest -c jest.config.cjs --bail --findRelatedTests
        files: '^src/.*\.(ts|html|scss)$'
        pass_filenames: true
        stages:
          - manual

      - id: validate-mocks
        name: validate mocks
        language: system
        entry: npm run validate:mocks --silent
        files: '^src/.*\.(ts)$'
        stages:
          - manual
ci:
  autofix_prs: false
  skip:
    - pyupgrade
    - jest
    - validate-mocks

test: mejorar cobertura a 100% en múltiples componentes y servicios
  src/app/app.component.spec.ts
  src/app/core/services/reserva-notifications.service.spec.ts
  src/app/modules/public/ver-productos/ver-productos.component.html
  src/app/modules/public/ver-productos/ver-productos.component.spec.ts
  src/app/modules/public/ver-productos/ver-productos.component.ts
  src/app/shared/mocks/test-doubles.ts
  src/app/shared/services/favorites.service.spec.ts
  src/app/shared/services/favorites.service.ts
  src/app/shared/services/theme.service.spec.ts
  src/app/shared/services/theme.service.ts
Due: prettier, eslint

test/core: mejorar cobertura de auth-refresh.interceptor a 95%+ con 100% branches
  src/app/core/interceptors/auth-refresh.interceptor.spec.ts
Due: prettier, eslint

test/core: alcanzar 100% cobertura en retry.interceptor
  src/app/core/interceptors/retry.interceptor.spec.ts
Due: prettier, eslint

test/core: alcanzar 100% cobertura en modal, cambios-horario y reserva services
  src/app/core/services/cambios-horario.service.spec.ts
  src/app/core/services/modal.service.spec.ts
  src/app/core/services/reserva.service.spec.ts
Due: prettier, eslint

test/core: mejorar cobertura de telemetry.service (73.45% 79.01%)
  src/app/core/services/telemetry.service.spec.ts
Due: prettier, eslint

test/core: mejorar cobertura de telemetry.service (79.01% 80.98%)
  src/app/core/services/telemetry.service.spec.ts
  src/app/core/services/telemetry.service.ts
Due: prettier, eslint

test: improve coverage for home and native topbar
  src/app/modules/public/home/home.component.spec.ts
  src/app/shared/components/native-topbar/native-topbar.component.spec.ts
Due: prettier, eslint

test: cover AppComponent scenarios
  src/app/app.component.spec.ts
Due: prettier, eslint

test: cover web push service edge cases
  src/app/core/services/web-push.service.spec.ts
Due: prettier, eslint

Updated: tests
  src/app/core/services/web-push.service.spec.ts
  src/app/shared/components/native-topbar/native-topbar.component.spec.ts
Due: prettier, eslint

test: cover missing token queue branch in auth refresh interceptor
  src/app/core/interceptors/auth-refresh.interceptor.spec.ts
Due: prettier, eslint

test: cover telemetry service
  src/app/core/services/telemetry.service.spec.ts
Due: prettier, eslint

test: ensure service coverage
  src/app/shared/services/favorites.service.spec.ts
  src/app/shared/services/smart-search.service.spec.ts
Due: prettier, eslint

fix/test: corregir tests fallidos en auth-refresh, telemetry y smart-search
  src/app/core/interceptors/auth-refresh.interceptor.spec.ts
  src/app/core/interceptors/auth-refresh.interceptor.ts
  src/app/core/services/telemetry.service.spec.ts
  src/app/shared/services/smart-search.service.ts
Due: prettier, eslint

test: improve native topbar coverage
  src/app/shared/components/native-topbar/native-topbar.component.spec.ts
Due: prettier, eslint

fix/test: corregir test de native-topbar que usaba module.require de solo lectura
  src/app/shared/components/native-topbar/native-topbar.component.spec.ts
Due: prettier, eslint

test: cover public home component server branches
  src/app/modules/public/home/home.component.spec.ts
Due: prettier, eslint

Optimized: modal!
  src/app/modules/admin/productos/gestionar-categorias/gestionar-categorias.component.spec.ts
  src/app/modules/admin/productos/gestionar-categorias/gestionar-categorias.component.ts
  src/app/shared/components/modal/modal.component.scss
  src/app/shared/components/modal/modal.component.ts
Due: prettier, eslint, stylelint

Fixed: Categories and subcategories UI fixes
  src/app/modules/admin/productos/gestionar-categorias/gestionar-categorias.component.html
Due: prettier

Fixed: Categories and subcategories UI fixes
  src/app/modules/admin/productos/gestionar-categorias/gestionar-categorias.component.html
  src/app/modules/admin/productos/gestionar-categorias/gestionar-categorias.component.scss
  src/app/modules/admin/productos/gestionar-categorias/gestionar-categorias.component.ts
Due: prettier, eslint, stylelint

Fixed: Categories and subcategories UI fixes
  src/app/modules/admin/productos/gestionar-categorias/gestionar-categorias.component.html
  src/app/modules/admin/productos/gestionar-categorias/gestionar-categorias.component.spec.ts
  src/app/modules/admin/productos/gestionar-categorias/gestionar-categorias.component.ts
  src/app/shared/components/modal/modal.component.html
  src/app/shared/components/modal/modal.component.scss
Due: prettier, eslint, stylelint

Fixed: Crear producto UI fixes
  src/app/modules/admin/productos/crear-producto/crear-producto.component.html
  src/app/modules/admin/productos/crear-producto/crear-producto.component.scss
  src/app/modules/admin/productos/crear-producto/crear-producto.component.spec.ts
  src/app/modules/admin/productos/crear-producto/crear-producto.component.ts
  src/app/modules/admin/productos/gestionar-categorias/gestionar-categorias.component.html
  src/app/modules/admin/productos/gestionar-categorias/gestionar-categorias.component.scss
  src/app/modules/admin/productos/gestionar-categorias/gestionar-categorias.component.spec.ts
  src/app/modules/admin/productos/gestionar-categorias/gestionar-categorias.component.ts
Due: prettier, eslint, stylelint

Updated: styles
  src/app/modules/admin/productos/crear-producto/crear-producto.component.html
  src/app/modules/admin/productos/crear-producto/crear-producto.component.scss
  src/app/modules/admin/productos/crear-producto/crear-producto.component.spec.ts
  src/app/modules/admin/productos/crear-producto/crear-producto.component.ts
  src/app/modules/auth/login/login.component.scss
  src/app/modules/auth/register/register.component.scss
  src/assets/_base.scss
Due: prettier, eslint, stylelint

Added: createand update menu
  package-lock.json
  package.json
  src/app/core/services/producto.service.ts
  src/app/modules/admin/productos/crear-producto/crear-producto.component.html
  src/app/modules/admin/productos/crear-producto/crear-producto.component.scss
  src/app/modules/admin/productos/crear-producto/crear-producto.component.spec.ts
  src/app/modules/admin/productos/crear-producto/crear-producto.component.ts
  src/app/shared/mocks/test-doubles.ts
  src/app/shared/services/image-optimization.service.spec.ts
  src/app/shared/services/image-optimization.service.ts
Due: prettier, eslint, stylelint

Added: createand update menu
  src/app/modules/admin/productos/crear-producto/crear-producto.component.spec.ts
  src/app/modules/admin/productos/crear-producto/crear-producto.component.ts
  src/app/modules/public/ver-productos/ver-productos.component.scss
  src/app/shared/mocks/categoria.mock.ts
  src/app/shared/mocks/subcategoria.mock.ts
Due: prettier, eslint, stylelint

Updated: UI
  src/app/core/services/cart.service.ts
  src/app/modules/admin/productos/gestionar-categorias/gestionar-categorias.component.scss
  src/app/modules/client/carrito/carrito.component.html
  src/app/modules/client/carrito/carrito.component.scss
  src/app/modules/client/carrito/carrito.component.ts
  src/app/shared/components/modal/modal.component.html
  src/assets/_base.scss
Due: prettier, eslint, stylelint

Fixed: order flow
  src/app/core/services/pago.service.ts
  src/app/core/services/pedido.service.spec.ts
  src/app/core/services/pedido.service.ts
  src/app/modules/client/carrito/carrito.component.spec.ts
  src/app/modules/client/carrito/carrito.component.ts
  src/app/modules/client/mis-pedidos/mis-pedidos.component.ts
  src/app/modules/public/ver-productos/ver-productos.component.html
  src/app/modules/public/ver-productos/ver-productos.component.spec.ts
  src/app/shared/components/modal/modal.component.spec.ts
  src/app/shared/pipes/format-date.pipe.spec.ts
  src/app/shared/pipes/format-date.pipe.ts
Due: prettier, eslint

Updated: cliente pedido
  .cursorrules
  src/app/modules/client/carrito/carrito.component.ts
  src/app/modules/client/mis-pedidos/mis-pedidos.component.html
  src/app/modules/client/mis-pedidos/mis-pedidos.component.scss
  src/app/modules/client/mis-pedidos/mis-pedidos.component.spec.ts
  src/app/modules/client/mis-pedidos/mis-pedidos.component.ts
  src/app/modules/client/pedido/pedido.component.html
  src/app/modules/client/pedido/pedido.component.scss
  src/app/modules/client/pedido/pedido.component.spec.ts
  src/app/modules/client/pedido/pedido.component.ts
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.html
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.ts
  src/app/modules/public/reservas/reservas-del-dia/reservas-del-dia.component.html
  src/app/modules/public/reservas/reservas-del-dia/reservas-del-dia.component.ts
  src/assets/VARIABLES-REFERENCE.md
Due: prettier, eslint, stylelint

fix/ui: corregir FormatDatePipe (TZ Bogotá) y estabilizar tests CI de fecha
  src/app/shared/pipes/format-date.pipe.ts
Due: prettier, eslint

test/ui: aumentar cobertura en carrito, mis-pedidos y reservas-del-dia
  src/app/modules/client/carrito/carrito.component.spec.ts
  src/app/modules/client/mis-pedidos/mis-pedidos.component.spec.ts
  src/app/modules/public/reservas/reservas-del-dia/reservas-del-dia.component.spec.ts
Due: prettier, eslint

Implements: ios config
  ios/.gitignore
  ios/App/App.xcodeproj/project.pbxproj
  ios/App/App.xcworkspace/contents.xcworkspacedata
  ios/App/App.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ios/App/App.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/App/App/AppDelegate.swift
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/App/App/Assets.xcassets/Contents.json
  ios/App/App/Assets.xcassets/Splash.imageset/Contents.json
  ios/App/App/Assets.xcassets/Splash.imageset/Default@1x~universal~anyany-dark.png
  ios/App/App/Assets.xcassets/Splash.imageset/Default@1x~universal~anyany.png
  ios/App/App/Assets.xcassets/Splash.imageset/Default@2x~universal~anyany-dark.png
  ios/App/App/Assets.xcassets/Splash.imageset/Default@2x~universal~anyany.png
  ios/App/App/Assets.xcassets/Splash.imageset/Default@3x~universal~anyany-dark.png
  ios/App/App/Assets.xcassets/Splash.imageset/Default@3x~universal~anyany.png
  ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-1.png
  ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-2.png
  ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732.png
  ios/App/App/Base.lproj/LaunchScreen.storyboard
  ios/App/App/Base.lproj/Main.storyboard
  ios/App/App/GoogleService-Info.plist
  ios/App/App/Info.plist
  ios/App/Podfile
  ios/App/Podfile.lock
  package-lock.json
  package.json
Due: none

Optimized iOs
  android/app/src/main/res/xml/network_security_config.xml
  android/gradlew
  ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  package.json
  src/app/app.component.html
  src/app/core/services/native-push.service.ts
  src/app/modules/admin/telemetry/telemetry-dashboard.component.scss
  src/app/shared/components/native-topbar/native-topbar.component.scss
  src/app/shared/components/native-topbar/native-topbar.component.ts
  src/assets/styles.scss
Due: prettier, eslint, stylelint

Optimized: iOs
  src/app/app.component.scss
  src/app/app.component.ts
  src/assets/_base.scss
Due: prettier, eslint, stylelint

feat/ui: agregar gestiÃ³n completa de pedidos con notificaciones y histÃ³rico de precios
  .cursorrules
  src/app/core/services/pedido-notifications.service.spec.ts
  src/app/core/services/pedido-notifications.service.ts
  src/app/modules/admin/acciones/acciones.spec.ts
  src/app/modules/admin/acciones/acciones.ts
  src/app/modules/admin/admin.routes.ts
  src/app/modules/admin/pedidos/gestionar-domicilios/gestionar-domicilios.component.html
  src/app/modules/admin/pedidos/gestionar-domicilios/gestionar-domicilios.component.scss
  src/app/modules/admin/pedidos/gestionar-domicilios/gestionar-domicilios.component.spec.ts
  src/app/modules/admin/pedidos/gestionar-domicilios/gestionar-domicilios.component.ts
  src/app/modules/admin/pedidos/gestionar-pagos/gestionar-pagos.component.html
  src/app/modules/admin/pedidos/gestionar-pagos/gestionar-pagos.component.scss
  src/app/modules/admin/pedidos/gestionar-pagos/gestionar-pagos.component.spec.ts
  src/app/modules/admin/pedidos/gestionar-pagos/gestionar-pagos.component.ts
  src/app/modules/admin/pedidos/gestionar-pedidos/gestionar-pedidos.component.html
  src/app/modules/admin/pedidos/gestionar-pedidos/gestionar-pedidos.component.scss
  src/app/modules/admin/pedidos/gestionar-pedidos/gestionar-pedidos.component.spec.ts
  src/app/modules/admin/pedidos/gestionar-pedidos/gestionar-pedidos.component.ts
  src/app/modules/admin/pedidos/menu-pedidos/menu-pedidos.component.html
  src/app/modules/admin/pedidos/menu-pedidos/menu-pedidos.component.scss
  src/app/modules/admin/pedidos/menu-pedidos/menu-pedidos.component.spec.ts
  src/app/modules/admin/pedidos/menu-pedidos/menu-pedidos.component.ts
  src/app/modules/admin/productos/historico-precios/historico-precios.component.html
  src/app/modules/admin/productos/historico-precios/historico-precios.component.scss
  src/app/modules/admin/productos/historico-precios/historico-precios.component.spec.ts
  src/app/modules/admin/productos/historico-precios/historico-precios.component.ts
  src/app/modules/admin/productos/menu-productos/productos.component.spec.ts
  src/app/modules/admin/productos/menu-productos/productos.component.ts
  src/app/modules/client/carrito/carrito.component.spec.ts
  src/app/modules/client/carrito/carrito.component.ts
  src/app/modules/client/mis-pedidos/mis-pedidos.component.html
  src/app/modules/client/mis-pedidos/mis-pedidos.component.scss
  src/app/modules/client/mis-pedidos/mis-pedidos.component.ts
  src/app/shared/mocks/precio-producto-hist.mock.ts
  src/app/shared/mocks/test-doubles.ts
  src/app/shared/models/precio-producto-hist.model.ts
  src/assets/_base.scss
Due: prettier, eslint, stylelint

perf/ui: optimizar diseño compacto detalle de pedido para móviles
  src/app/modules/client/pedido/pedido.component.html
  src/app/modules/client/pedido/pedido.component.scss
Due: prettier, stylelint

Optimized: iOs2
  package-lock.json
  package.json
  scripts/clean-mobile.sh
Due: none

Some fixes
  src/app/modules/client/perfil/perfil.component.html
  src/app/modules/client/perfil/perfil.component.scss
Due: prettier, stylelint

chore/deps: actualizar dependencias desde develop
  package-lock.json
  package.json
Due: none

security: remover credenciales Firebase expuestas y documentar proceso de rotación
  .gitignore
  android/app/google-services.json.example
  docs/FIREBASE-SETUP.md
  ios/App/App/GoogleService-Info.plist.example
Due: none

feat/security: configurar gestión de credenciales Firebase con GitHub Secrets
  docs/GITHUB-SECRETS-SETUP.md
  package.json
  scripts/setup-firebase-credentials.sh
Due: none
