Repository ElLuchoMan/restaurante-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  language: system
  entry: npx prettier --write

eslint:
  name: eslint
  language: system
  entry: npx eslint --fix --quiet --max-warnings=100

stylelint:
  name: stylelint
  language: system
  entry: npx stylelint --fix

feature: added environments replacement
  angular.json
  src/app/modules/public/ubicacion-restaurante/ubicacion-restaurante.component.ts
  src/app/modules/trabajadores/domicilios/ruta-domicilio/ruta-domicilio.component.ts
Due: prettier, eslint

feature: added environments replacement
  src/app/shared/utils/config.ts
Due: prettier, eslint

Added: netlify headers
  .gitignore
  netlify.toml
Due: none

feature: added prerendered
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  angular.json
  public/app-config.json
  src/app/core/app.config.ts
  src/app/core/interceptors/correlation.interceptor.ts
  src/app/core/services/app-config.service.ts
Due: prettier, eslint

feature: added skip link
  src/app/app.component.html
  src/app/app.component.scss
  src/app/core/app.config.ts
Due: prettier, eslint, stylelint

feature: minor fixes
  .github/workflows/deploy.yml
  .gitignore
  README.md
  src/app/core/services/app-config.service.ts
  src/app/modules/public/ubicacion-restaurante/ubicacion-restaurante.component.ts
  src/app/modules/trabajadores/domicilios/ruta-domicilio/ruta-domicilio.component.ts
  src/environments/environment.ts
Due: prettier, eslint

feature: minor fixes
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  SECURITY.md
  netlify.toml
Due: none

Implements: proxuy
  angular.json
  package.json
  proxy.conf.json
  src/app/core/app.config.ts
  src/app/core/interceptors/api-base.interceptor.ts
Due: prettier, eslint

feature: minor fixes
  .github/workflows/deploy.yml
  angular.json
  package.json
  src/app/modules/client/carrito/carrito.component.html
  src/app/modules/public/home/home.component.html
  src/app/modules/public/home/home.component.scss
  src/app/modules/public/home/home.component.ts
  src/app/modules/public/ver-productos/ver-productos.component.html
  src/app/shared/components/header/header.component.html
Due: prettier, eslint, stylelint

feature: minor fixes
  src/app/core/app.config.ts
  src/app/modules/public/home/home.component.html
  src/app/modules/public/ver-productos/ver-productos.component.html
  src/app/modules/public/ver-productos/ver-productos.component.ts
  src/app/shared/components/header/header.component.html
  src/app/shared/components/header/header.component.scss
  src/server.ts
Due: prettier, eslint, stylelint

feature: added aria labels
  package-lock.json
  package.json
  src/app/modules/public/home/home.component.html
  src/app/shared/components/header/header.component.html
  src/app/shared/components/header/header.component.scss
  src/assets/img/carousel-1-1200.webp
  src/assets/img/carousel-1-1600.webp
  src/assets/img/carousel-1-768.webp
  src/assets/img/carousel-2-1200.webp
  src/assets/img/carousel-2-1600.webp
  src/assets/img/carousel-2-768.webp
  src/assets/img/carousel-3-1200.webp
  src/assets/img/carousel-3-1600.webp
  src/assets/img/carousel-3-768.webp
  tools/generate-images.mjs
Due: prettier, stylelint

fix: header
  src/app/shared/components/header/header.component.scss
  src/app/shared/components/header/header.component.ts
Due: prettier, eslint, stylelint

Added: navigation focus
  src/app/app.component.ts
Due: prettier, eslint

feat: added LiveAnnouncerService
  src/app/core/services/live-announcer.service.spec.ts
  src/app/core/services/live-announcer.service.ts
  src/app/modules/auth/login/login.component.ts
  src/app/modules/client/carrito/carrito.component.ts
  src/app/modules/public/ver-productos/ver-productos.component.ts
  src/app/shared/components/header/header.component.ts
Due: prettier, eslint

feat: added NetworkService
  angular.json
  ngsw-config.json
  src/app/app.component.ts
  src/app/core/app.config.ts
  src/app/core/services/network.service.spec.ts
  src/app/core/services/network.service.ts
  src/app/shared/components/header/header.component.html
  src/app/shared/components/header/header.component.ts
Due: prettier, eslint

feature: added retry interceptor
  src/app/core/app.config.ts
Due: prettier, eslint

feature: added tests
  src/app/core/interceptors/retry.interceptor.spec.ts
  src/app/core/interceptors/retry.interceptor.ts
  src/app/core/services/network.service.spec.ts
  src/app/shared/components/header/header.component.ts
Due: prettier, eslint

feature: minor fixes
  src/app/app.component.ts
  src/app/core/app.config.ts
  src/app/core/services/seo.service.ts
  src/app/core/services/title.strategy.ts
  src/app/modules/public/public.routes.ts
Due: prettier, eslint

fixed: telemetry
  .eslintrc.cjs
  package.json
  src/app/core/interceptors/correlation.interceptor.ts
  src/app/core/interceptors/telemetry.interceptor.ts
  src/app/core/services/global-error.handler.ts
  src/app/core/services/telemetry.service.ts
  tools/png-to-webp.mjs
Due: prettier, eslint

fixed: prerendered
  .github/workflows/ci.yml
  ngsw-config.json
  src/app/core/interceptors/api-base.interceptor.ts
  src/app/core/interceptors/correlation.interceptor.spec.ts
  src/app/core/services/app-config.service.ts
  src/app/shared/components/header/header.component.html
  src/assets/img/logo2.webp
Due: prettier, eslint

feature transferstate
  src/app/modules/public/home/home.component.ts
  src/app/modules/public/ver-productos/ver-productos.component.ts
Due: prettier, eslint

feature:minor fixes
  angular.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/shared/components/header/header.component.scss
  src/index.html
Due: prettier, eslint, stylelint

feature: minor fixes
  ngsw-config.json
  package.json
  public/robots.txt
  src/app/modules/auth/login/login.component.html
  src/app/modules/auth/register/register.component.html
  src/app/shared/components/update-banner/update-banner.component.ts
  src/assets/_base.scss
  src/index.html
  tools/generate-sitemap.mjs
Due: prettier, eslint

minor fixes
  netlify.toml
  ngsw-config.json
  src/app/app.component.ts
  src/app/core/app.config.ts
  src/app/core/interceptors/api-base.interceptor.ts
  src/app/core/interceptors/correlation.interceptor.spec.ts
  src/app/core/interceptors/retry.interceptor.spec.ts
  src/app/core/interceptors/telemetry.interceptor.spec.ts
  src/app/core/services/global-error.handler.ts
  src/app/core/services/network.service.ts
  src/app/core/services/seo.service.ts
  src/app/modules/client/carrito/carrito.component.html
  src/app/modules/client/carrito/carrito.component.spec.ts
  src/app/modules/client/carrito/carrito.component.ts
  src/app/modules/public/home/home.component.html
  src/app/modules/public/home/home.component.ts
  src/app/modules/public/offline/offline.component.ts
  src/app/modules/public/public.routes.ts
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.html
  src/app/modules/public/reservas/crear-reserva/crear-reserva.component.html
  src/app/modules/public/ver-productos/ver-productos.component.html
  src/app/modules/public/ver-productos/ver-productos.component.ts
  src/assets/_base.scss
  tools/generate-sitemap.mjs
Due: prettier, eslint

feat: Agregamos tipado de datos
  eslint.config.mjs
  src/app/core/interceptors/api-base.interceptor.ts
  src/app/core/interceptors/correlation.interceptor.ts
  src/app/core/interceptors/telemetry.interceptor.ts
  src/app/modules/public/home/home.component.ts
  src/app/modules/public/ver-productos/ver-productos.component.ts
  src/app/shared/components/header/header.component.ts
  src/app/shared/components/update-banner/update-banner.component.ts
Due: prettier, eslint

feat/ui: mejoras performance, SEO, PWA y accesibilidad
  ngsw-config.json
  public/manifest.webmanifest
  src/app/app.component.ts
  src/app/core/app.routes.ts
  src/app/core/services/seo.service.ts
  src/app/modules/auth/login/login.component.html
  src/app/modules/auth/login/login.component.ts
  src/app/modules/auth/register/register.component.html
  src/app/modules/public/public.routes.ts
  src/app/shared/components/update-banner/update-banner.component.ts
  src/index.html
Due: prettier, eslint

feat/ui: complete professional optimization suite
  .github/workflows/ci.yml
  jest.config.cjs
  netlify.toml
  package-lock.json
  package.json
  src/app/core/app.config.ts
  src/app/core/app.routes.ts
  src/app/core/services/error-boundary.service.spec.ts
  src/app/core/services/error-boundary.service.ts
  src/app/core/services/performance.service.ts
  src/app/modules/admin/admin.module.ts
  src/app/modules/admin/telemetry/telemetry-dashboard.component.ts
  src/app/modules/auth/login/login.component.spec.ts
  src/app/modules/auth/register/register.component.html
  src/app/modules/client/client.module.ts
  src/app/modules/public/home/home.component.ts
  src/app/modules/public/offline/offline.component.ts
  src/app/modules/public/page-not-found/page-not-found.component.ts
  src/app/modules/public/public.module.ts
  src/app/modules/public/public.routes.ts
  src/app/modules/public/ver-productos/ver-productos.component.ts
  src/app/modules/trabajadores/trabajadores.module.ts
  src/app/shared/components/error-boundary/error-boundary.component.ts
  tools/security-audit.mjs
  tools/smoke-tests.mjs
Due: prettier, eslint

fixed
  src/app/core/services/error-boundary.service.spec.ts
Due: prettier, eslint

test/ui-core: estabilizar suites y mocks; evitar jest.fn directos; ajustar api-base specs
  src/app/app.component.spec.ts
  src/app/core/app.routes.spec.ts
  src/app/core/interceptors/api-base.interceptor.spec.ts
  src/app/modules/auth/login/login.component.spec.ts
  src/app/modules/public/public.routes.spec.ts
  src/app/shared/components/error-boundary/error-boundary.component.spec.ts
  src/app/shared/components/update-banner/update-banner.component.spec.ts
  src/app/shared/mocks/test-doubles.ts
  tools/generate-sitemap.mjs
Due: prettier, eslint

Fixed: CI
  .github/workflows/deploy.yml
Due: none

feature: validated Services
  .cursorrules
  src/app/core/interceptors/auth.interceptor.ts
  src/app/core/services/pedido.service.spec.ts
  src/app/core/services/pedido.service.ts
  src/app/core/services/producto-pedido.service.spec.ts
  src/app/core/services/producto-pedido.service.ts
  src/app/core/services/producto.service.ts
  src/app/core/services/reserva.service.spec.ts
  src/app/core/services/reserva.service.ts
  src/app/core/services/trabajador.service.spec.ts
  src/app/core/services/trabajador.service.ts
  src/app/modules/client/carrito/carrito.component.ts
  src/app/modules/public/domicilios/consultar-domicilios/consultar-domicilios.component.spec.ts
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.html
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.ts
  src/app/modules/public/reservas/crear-reserva/crear-reserva.component.ts
  src/app/modules/public/reservas/reservas-del-dia/reservas-del-dia.component.ts
  src/app/modules/public/ver-productos/ver-productos.component.html
  src/app/modules/trabajadores/domicilios/ruta-domicilio/ruta-domicilio.component.spec.ts
  src/app/modules/trabajadores/domicilios/ruta-domicilio/ruta-domicilio.component.ts
  src/app/modules/trabajadores/domicilios/tomar-domicilio/tomar-domicilio.component.spec.ts
  src/app/shared/constants.ts
  src/app/shared/mocks/cliente.mock.ts
  src/app/shared/mocks/domicilio.mock.ts
  src/app/shared/mocks/metodo-pago.mock.ts
  src/app/shared/mocks/pago.mock.ts
  src/app/shared/mocks/pedido.mock.ts
  src/app/shared/mocks/producto-pedido.mock.ts
  src/app/shared/models/domicilio.model.ts
  src/app/shared/models/pago.model.ts
  src/app/shared/models/reserva.model.ts
Due: prettier, eslint

test: ensure core services have full coverage
  src/app/core/services/producto.service.spec.ts
  src/app/core/services/telemetry.service.spec.ts
Due: prettier, eslint

feat: added handled error in MetodoPago
  src/app/core/services/metodos-pago.service.ts
Due: prettier, eslint

refactor/ui: alinear servicios con backend, eliminar PedidoClienteService y referencias
  src/app/core/services/pedido-cliente.service.spec.ts
  src/app/core/services/pedido-cliente.service.ts
  src/app/modules/client/carrito/carrito.component.spec.ts
  src/app/modules/client/carrito/carrito.component.ts
  src/app/modules/client/mis-pedidos/mis-pedidos.component.html
  src/app/modules/client/pedido/pedido.component.html
  src/app/shared/mocks/test-doubles.ts
  src/app/shared/models/pedido.model.ts
  src/index.html
Due: prettier, eslint

feat: aling backend
  src/app/core/services/horario-trabajador.service.ts
  src/app/core/services/nomina-trabajador.service.ts
  src/app/core/services/nomina.service.ts
  src/app/core/services/pedido.service.ts
  src/app/core/services/precio-producto-hist.service.ts
  src/app/core/services/producto-pedido.service.ts
  src/app/core/services/producto.service.ts
  src/app/core/services/reserva-contacto.service.ts
  src/app/core/services/reserva.service.ts
  src/app/core/services/restaurante.service.ts
  src/app/core/services/trabajador.service.ts
  src/app/shared/mocks/horario-trabajador.mock.ts
  src/app/shared/mocks/pedido.mock.ts
  src/app/shared/mocks/precio-producto-hist.mock.ts
  src/app/shared/mocks/producto-pedido.mock.ts
  src/app/shared/mocks/reserva-contacto.mock.ts
  src/app/shared/mocks/restaurante.mock.ts
  src/app/shared/mocks/trabajador.mock.ts
  src/app/shared/models/cambio-horario.model.ts
  src/app/shared/models/precio-producto-hist.model.ts
  src/app/shared/models/producto.model.ts
  src/app/shared/models/reserva-contacto.model.ts
Due: prettier, eslint

test: cover restaurante service endpoints
  src/app/core/services/restaurante.service.spec.ts
Due: prettier, eslint

test: cover PerformanceService edge cases
  src/app/core/services/performance.service.spec.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: ^(src|tools|public)/.*\.(ts|js|html|scss|md|json|ya?ml|css)$, but not: src/assets/lib/
  eslint: any of: ^src/.*\.(ts|js)$
  stylelint: any of: ^src/app/.*\.scss$
