Repository ElLuchoMan/restaurante-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  language: system
  entry: npx prettier --write

eslint:
  name: eslint
  language: system
  entry: npx eslint --fix --quiet --max-warnings=100

stylelint:
  name: stylelint
  language: system
  entry: npx stylelint --fix

Updated:styles
  src/app/app.component.html
  src/assets/_base.scss
Due: prettier

Fixed: styles
  src/app/shared/components/header/header.component.html
  src/assets/_base.scss
Due: prettier

backup
  src/app/shared/components/header/header.component.scss
Due: prettier, stylelint

Backup 2
  src/app/shared/components/header/header.component.html
  src/app/shared/components/header/header.component.scss
  src/app/shared/components/header/header.component.spec.ts
  src/app/shared/components/header/header.component.ts
Due: prettier, eslint, stylelint

Backup 2
  src/app/shared/components/header/header.component.scss
  src/assets/_utilities.scss
Due: prettier, stylelint

Added: minor fixeS
  src/app/modules/public/home/home.component.scss
  src/app/shared/components/header/header.component.ts
Due: prettier, eslint, stylelint

Optimized images
  src/app/core/services/producto.service.spec.ts
  src/app/core/services/producto.service.ts
  src/app/core/services/telemetry.service.spec.ts
  src/app/core/services/telemetry.service.ts
  src/app/examples/telemetry-example.component.ts
  src/app/modules/admin/telemetry/telemetry-dashboard.component.html
  src/app/modules/admin/telemetry/telemetry-dashboard.component.ts
  src/app/modules/public/home/home.component.html
  src/app/modules/public/home/home.component.scss
  src/app/modules/public/home/home.component.ts
  src/app/shared/mocks/telemetry.mock.ts
  src/app/shared/mocks/test-doubles.ts
  src/app/shared/models/telemetry.model.ts
  src/app/shared/utils/image.utils.spec.ts
  src/app/shared/utils/image.utils.ts
Due: prettier, eslint, stylelint

Fixed: styles
  src/app/shared/components/header/header.component.scss
Due: prettier, stylelint

Fixed: styles
  src/app/modules/public/home/home.component.scss
  src/app/shared/components/header/header.component.scss
Due: prettier, stylelint

Fixed: styles
  src/app/modules/public/home/home.component.scss
  src/app/shared/components/header/header.component.scss
  src/assets/_base.scss
  src/assets/_variables.scss
Due: prettier, stylelint

Updated: colors
  capacitor.config.ts
  src/app/modules/public/home/home.component.scss
  src/assets/_base.scss
  src/assets/_utilities.scss
  src/assets/_variables.scss
Due: prettier, stylelint

Updated: colors
  src/assets/_variables.scss
Due: prettier

Fixed styles
  src/app/shared/components/header/header.component.scss
  src/app/shared/components/header/header.component.ts
  src/assets/_variables.scss
Due: prettier, eslint, stylelint

Fixed styles
  src/app/shared/components/header/header.component.scss
Due: prettier, stylelint

Fixed styles
  src/app/modules/client/carrito/carrito.component.scss
  src/app/modules/client/mis-pedidos/mis-pedidos.component.scss
  src/app/modules/public/home/home.component.scss
  src/app/modules/public/ver-productos/ver-productos.component.scss
  src/app/shared/components/native-topbar/native-topbar.component.scss
  src/assets/_base.scss
Due: prettier, stylelint

Fixed styles
  src/app/modules/auth/login/login.component.scss
  src/assets/_base.scss
Due: prettier, stylelint

Fixed styles
  src/app/modules/auth/login/login.component.scss
Due: prettier, stylelint

Fixed styles
  src/app/modules/public/home/home.component.scss
Due: prettier, stylelint

Fixed styles
  src/app/modules/auth/login/login.component.scss
  src/app/shared/components/native-topbar/native-topbar.component.scss
Due: prettier, stylelint

Fixed styles
  capacitor.config.ts
  src/app/modules/public/home/home.component.scss
  src/app/shared/components/header/header.component.scss
Due: prettier, stylelint

Fixed styles
  src/assets/_components.scss
Due: prettier

Fixed styles
  src/app/modules/public/home/home.component.scss
  src/app/shared/components/header/header.component.scss
  src/assets/_base.scss
  src/assets/_components.scss
  src/index.html
Due: prettier, stylelint

Applied: rebranding!
  android/app/src/main/res/values/strings.xml
  capacitor.config.ts
  docs/webview.md
  package.json
  public/manifest.webmanifest
  src/app/core/services/seo.service.ts
  src/app/core/services/title.strategy.spec.ts
  src/app/core/services/title.strategy.ts
  src/app/modules/public/home/home.component.ts
  src/app/modules/public/ubicacion-restaurante/ubicacion-restaurante.component.html
  src/app/shared/components/header/header.component.html
  src/app/shared/components/native-topbar/native-topbar.component.html
  src/app/shared/mocks/mocks.spec.ts
  src/app/shared/mocks/restaurante.mock.ts
  src/assets/_base.scss
  src/assets/_variables.scss
  src/index.html
Due: prettier, eslint

Finished: Home web syles
  src/app/modules/public/home/home.component.html
  src/app/modules/public/home/home.component.scss
  src/app/modules/public/home/home.component.ts
  src/assets/_base.scss
Due: prettier, eslint, stylelint

Finished: Home web styles
  src/app/modules/public/home/home.component.scss
Due: prettier, stylelint

Minor fixes
  .cursorrules
  src/app/modules/public/home/home.component.html
  src/app/modules/public/home/home.component.scss
  src/app/shared/components/footer/footer.component.html
Due: prettier, stylelint

Minor fixes
  src/app/modules/public/home/home.component.html
  src/app/modules/public/home/home.component.scss
  src/app/modules/public/home/home.component.ts
Due: prettier, eslint, stylelint

Uptaded: styles
  src/app/shared/components/header/header.component.html
  src/app/shared/components/header/header.component.ts
  src/app/shared/components/native-topbar/native-topbar.component.html
  src/app/shared/components/native-topbar/native-topbar.component.ts
  src/app/shared/components/quick-actions/quick-actions.component.html
  src/app/shared/components/quick-actions/quick-actions.component.ts
Due: prettier, eslint

Refactor: register
  capacitor.config.ts
  src/app/modules/auth/register/register.component.html
  src/app/modules/auth/register/register.component.scss
  src/app/modules/auth/register/register.component.ts
Due: prettier, eslint, stylelint

Refactor: register
  src/app/shared/components/quick-actions/quick-actions.component.ts
Due: prettier, eslint

Refactor: register
  src/app/modules/auth/register/register.component.html
  src/app/modules/auth/register/register.component.scss
  src/app/modules/auth/register/register.component.ts
Due: prettier, eslint, stylelint

Finished: register
  src/app/modules/auth/register/register.component.html
  src/app/modules/auth/register/register.component.scss
  src/app/modules/auth/register/register.component.ts
Due: prettier, eslint, stylelint

Fixed: webview home
  src/app/modules/public/home/home.component.html
  src/app/modules/public/home/home.component.scss
  src/app/modules/public/home/home.component.ts
Due: prettier, eslint, stylelint

Fixed: style
  src/app/modules/auth/login/login.component.scss
  src/app/modules/auth/register/register.component.scss
  src/app/modules/public/home/home.component.scss
Due: prettier, stylelint

Fixed: footer
  src/app/shared/components/footer/footer.component.html
  src/app/shared/components/footer/footer.component.scss
  src/app/shared/components/footer/footer.component.ts
Due: prettier, eslint, stylelint

Fixed: colors
  src/app/shared/components/footer/footer.component.scss
Due: prettier, stylelint

Fixed: colors
  src/app/shared/components/footer/footer.component.scss
  src/assets/_variables.scss
Due: prettier, stylelint

Fixed: styles
  capacitor.config.ts
  src/app/modules/auth/login/login.component.html
  src/app/modules/auth/register/register.component.html
  src/app/modules/auth/register/register.component.scss
  src/app/modules/public/home/home.component.html
  src/app/modules/public/home/home.component.scss
  src/app/modules/public/home/home.component.ts
  src/app/shared/components/footer/footer.component.html
  src/app/shared/components/footer/footer.component.scss
  src/assets/_base.scss
  src/assets/_variables.scss
Due: prettier, eslint, stylelint

Updated: ubicación
  src/app/modules/public/ubicacion-restaurante/ubicacion-restaurante.component.html
  src/app/modules/public/ubicacion-restaurante/ubicacion-restaurante.component.scss
  src/app/modules/public/ubicacion-restaurante/ubicacion-restaurante.component.ts
Due: prettier, eslint, stylelint

Fixed: reserva
  src/app/core/services/reserva.service.ts
  src/app/modules/admin/admin.routes.ts
  src/app/modules/public/public.routes.ts
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.html
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.scss
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.ts
  src/app/modules/public/reservas/crear-reserva/crear-reserva.component.html
  src/app/modules/public/reservas/crear-reserva/crear-reserva.component.scss
  src/app/modules/public/reservas/crear-reserva/crear-reserva.component.ts
  src/app/modules/public/reservas/menu-reservas/menu-reservas.component.html
  src/app/modules/public/reservas/menu-reservas/menu-reservas.component.scss
  src/app/modules/public/reservas/menu-reservas/menu-reservas.component.ts
  src/app/modules/public/reservas/reservas-del-dia/reservas-del-dia.component.html
  src/app/modules/public/reservas/reservas-del-dia/reservas-del-dia.component.scss
  src/app/shared/components/header/header.component.ts
  src/app/shared/components/quick-actions/quick-actions.component.ts
  src/app/shared/models/reserva.model.ts
  src/assets/_base.scss
Due: prettier, eslint, stylelint

Path conditions:
  prettier: any of: ^(src|tools|public)/.*\.(ts|js|html|scss|md|json|ya?ml|css)$, but not: src/assets/lib/
  eslint: any of: ^src/.*\.(ts|js)$
  stylelint: any of: ^src/app/.*\.scss$
