Repository ElLuchoMan/restaurante-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
        args:
          - "--fix=auto"

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
      - id: pyupgrade
        args:
          - "--py310-plus"
        stages:
          - manual

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: '(\.ya?ml)$'

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks
        args:
          - "detect"
          - "--no-banner"
          - "--redact"
        stages:
          - pre-commit
          - pre-push

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: npx prettier --write
        files: '^(src|tools|public)/.*\.(ts|js|html|scss|md|json|ya?ml|css)$'
        exclude: 'src/assets/lib/'

      - id: eslint
        name: eslint
        language: system
        entry: npx eslint --fix --quiet --max-warnings=100
        files: '^src/.*\.(ts|js)$'

      - id: stylelint
        name: stylelint
        language: system
        entry: npx stylelint --fix
        files: '^src/app/.*\.scss$'
        exclude: ''

      - id: jest
        name: jest (affected)
        language: system
        entry: npx jest -c jest.config.cjs --bail --findRelatedTests
        files: '^src/.*\.(ts|html|scss)$'
        pass_filenames: true
        stages:
          - manual

      - id: validate-mocks
        name: validate mocks
        language: system
        entry: npm run validate:mocks --silent
        files: '^src/.*\.(ts)$'
        stages:
          - manual
ci:
  autofix_prs: false
  skip:
    - pyupgrade
    - jest
    - validate-mocks

Finshed: Reservas componetn
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.html
  src/app/modules/public/reservas/reservas-del-dia/reservas-del-dia.component.html
  src/assets/_utilities.scss
Due: prettier

Finshed: Reservas componetn
  src/app/app.component.html
  src/app/app.component.ts
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.scss
  src/app/modules/public/reservas/menu-reservas/menu-reservas.component.html
  src/app/modules/public/reservas/reservas-del-dia/reservas-del-dia.component.scss
  src/assets/_utilities.scss
Due: prettier, eslint, stylelint

Finished: reservas
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.scss
  src/app/modules/public/reservas/crear-reserva/crear-reserva.component.html
  src/app/modules/public/reservas/crear-reserva/crear-reserva.component.ts
  src/app/modules/public/reservas/reservas-del-dia/reservas-del-dia.component.html
  src/app/modules/public/reservas/reservas-del-dia/reservas-del-dia.component.scss
  src/assets/_utilities.scss
Due: prettier, eslint, stylelint

feat/ui: notificaciones push reservas + badge en campana; servicios y mocks por dominio; soporte FCM en WebView
  android/app/build.gradle
  android/app/capacitor.build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/fogon/maria/app/MainActivity.java
  android/app/src/main/res/values/strings.xml
  android/build.gradle
  android/capacitor.settings.gradle
  capacitor.config.ts
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/core/services/cupon.service.spec.ts
  src/app/core/services/cupon.service.ts
  src/app/core/services/descuento.service.spec.ts
  src/app/core/services/descuento.service.ts
  src/app/core/services/native-push.service.ts
  src/app/core/services/oferta.service.spec.ts
  src/app/core/services/oferta.service.ts
  src/app/core/services/push.service.spec.ts
  src/app/core/services/push.service.ts
  src/app/core/services/reserva-notifications.service.ts
  src/app/modules/public/notification-center/notification-center.component.ts
  src/app/modules/public/public.routes.ts
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.ts
  src/app/modules/public/reservas/reservas-del-dia/reservas-del-dia.component.ts
  src/app/shared/components/native-topbar/native-topbar.component.ts
  src/app/shared/mocks/cupon.mock.ts
  src/app/shared/mocks/descuento.mock.ts
  src/app/shared/mocks/oferta.mock.ts
  src/app/shared/mocks/push.mock.ts
  src/app/shared/models/cupon.model.ts
  src/app/shared/models/descuento-types.model.ts
  src/app/shared/models/descuento.model.ts
  src/app/shared/models/oferta.model.ts
  src/app/shared/models/push.model.ts
  src/app/shared/utils/notification-center.store.ts
Due: prettier, eslint

feat/ui: push al crear reserva para clientes registrados
  src/app/modules/public/reservas/crear-reserva/crear-reserva.component.ts
Due: prettier, eslint

fix/ui: asegurar push en creaciÃ³n de reserva (fallbacks en datos de respuesta y JWT)
  src/app/modules/public/reservas/crear-reserva/crear-reserva.component.ts
Due: prettier, eslint

fix/tests: corregir tests fallidos y centralizar mocks
  .cursorrules
  src/app/app.component.spec.ts
  src/app/core/services/web-push.service.spec.ts
  src/app/modules/admin/enviar-notificacion/enviar-notificacion.spec.ts
  src/app/modules/auth/register/register.component.spec.ts
  src/app/modules/public/home/home.component.spec.ts
  src/app/modules/public/public.routes.spec.ts
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.spec.ts
  src/app/modules/public/reservas/crear-reserva/crear-reserva.component.spec.ts
  src/app/modules/public/reservas/menu-reservas/menu-reservas.component.spec.ts
  src/app/shared/components/footer/footer.component.spec.ts
  src/app/shared/components/header/header.component.spec.ts
  src/app/shared/components/notification-prompt/notification-prompt.component.spec.ts
  src/app/shared/mocks/test-doubles.ts
Due: prettier, eslint

refactor/tests: centralizar mocks y reducir jest.fn() inline
  src/app/core/services/user.service.spec.ts
  src/app/core/services/web-push.service.spec.ts
  src/app/modules/client/carrito/carrito.component.spec.ts
  src/app/shared/components/notification-prompt/notification-prompt.component.spec.ts
  src/app/shared/mocks/test-doubles.ts
Due: prettier, eslint

Updated: not found component
  src/app/modules/public/page-not-found/page-not-found.component.html
  src/app/modules/public/page-not-found/page-not-found.component.scss
  src/app/modules/public/page-not-found/page-not-found.component.spec.ts
  src/app/modules/public/page-not-found/page-not-found.component.ts
Due: prettier, eslint, stylelint

Test: commit con fix automatico
  scripts/git-commit-fix.ps1
Due: none

Updated: menu
  src/app/modules/public/home/home.component.html
  src/app/modules/public/home/home.component.scss
  src/app/modules/public/home/home.component.ts
  src/app/modules/public/ver-productos/ver-productos.component.html
  src/app/modules/public/ver-productos/ver-productos.component.scss
  src/app/modules/public/ver-productos/ver-productos.component.ts
  src/app/shared/components/floating-cart/floating-cart.component.html
  src/app/shared/components/floating-cart/floating-cart.component.scss
  src/app/shared/components/floating-cart/floating-cart.component.spec.ts
  src/app/shared/components/floating-cart/floating-cart.component.ts
  src/app/shared/services/favorites.service.spec.ts
  src/app/shared/services/favorites.service.ts
  src/app/shared/services/smart-search.service.spec.ts
  src/app/shared/services/smart-search.service.ts
  src/app/shared/services/theme.service.spec.ts
  src/app/shared/services/theme.service.ts
  src/assets/_base.scss
  src/assets/_utilities.scss
  src/assets/styles.scss
Due: prettier, eslint, stylelint

Fixed: styles
  src/app/modules/public/ver-productos/ver-productos.component.html
  src/app/modules/public/ver-productos/ver-productos.component.scss
Due: prettier, stylelint

Updated: styles
  src/app/modules/public/ver-productos/ver-productos.component.scss
Due: prettier, stylelint

Updated: sytles
  src/app/modules/public/ver-productos/ver-productos.component.html
  src/app/modules/public/ver-productos/ver-productos.component.scss
Due: prettier, stylelint

minimal fixes
  src/app/modules/public/ver-productos/ver-productos.component.html
  src/app/modules/public/ver-productos/ver-productos.component.scss
  src/app/modules/public/ver-productos/ver-productos.component.ts
Due: prettier, eslint, stylelint

minimal fixes
  src/app/modules/public/ver-productos/ver-productos.component.html
  src/app/modules/public/ver-productos/ver-productos.component.scss
Due: prettier, stylelint

Menu cleaned styles
  src/app/modules/public/ver-productos/ver-productos.component.html
  src/app/modules/public/ver-productos/ver-productos.component.scss
Due: prettier, stylelint

Cleaned styles
  src/app/modules/public/ver-productos/ver-productos.component.scss
Due: prettier, stylelint

Cleaned styles
  src/app/modules/public/ver-productos/ver-productos.component.html
  src/app/modules/public/ver-productos/ver-productos.component.scss
  src/app/modules/public/ver-productos/ver-productos.component.ts
Due: prettier, eslint, stylelint

Cleaned styles
  src/app/core/services/modal.service.ts
  src/app/shared/components/modal/modal.component.html
  src/app/shared/components/modal/modal.component.scss
  src/app/shared/components/modal/modal.component.ts
Due: prettier, eslint, stylelint

Cleaned styles
  src/app/modules/public/home/home.component.html
  src/app/modules/public/home/home.component.ts
  src/app/modules/public/ver-productos/ver-productos.component.html
  src/app/modules/public/ver-productos/ver-productos.component.scss
  src/app/modules/public/ver-productos/ver-productos.component.ts
  src/app/shared/components/modal/modal.component.html
  src/app/shared/components/modal/modal.component.scss
  src/app/shared/components/modal/modal.component.ts
  src/assets/img/product-1.webp
  src/assets/img/product-2.webp
  src/assets/img/product-3.webp
Due: prettier, eslint, stylelint

Cleaned styles
  src/app/core/services/cart.service.ts
  src/app/modules/client/carrito/carrito.component.html
  src/app/modules/client/carrito/carrito.component.ts
  src/app/modules/public/home/home.component.scss
  src/app/modules/public/ver-productos/ver-productos.component.ts
  src/app/shared/models/producto.model.ts
  src/app/shared/utils/image.utils.spec.ts
  src/app/shared/utils/image.utils.ts
  src/assets/_base.scss
Due: prettier, eslint, stylelint

optimized
  angular.json
  src/app/core/services/native-push.service.ts
  src/app/core/services/performance.service.ts
  src/app/core/services/telemetry.service.ts
  src/app/core/services/user.service.ts
  src/app/core/services/web-push.service.ts
  src/app/shared/components/header/header.component.ts
  src/app/shared/components/native-topbar/native-topbar.component.ts
  src/app/shared/components/quick-actions/quick-actions.component.ts
  src/app/shared/services/favorites.service.ts
  src/app/shared/services/theme.service.ts
  src/app/shared/utils/image.utils.ts
  src/app/shared/utils/notification-center.store.ts
  src/assets/_menu-modal-components.scss
  src/assets/styles.scss
Due: prettier, eslint

optimized
  src/app/modules/public/ver-productos/ver-productos.component.html
  src/app/modules/public/ver-productos/ver-productos.component.scss
  src/app/modules/public/ver-productos/ver-productos.component.ts
Due: prettier, eslint, stylelint

Fixed: cart card
  src/app/shared/components/floating-cart/floating-cart.component.scss
Due: prettier, stylelint

Fixed: cart card
  src/app/shared/components/modal/modal.component.html
  src/app/shared/components/modal/modal.component.ts
Due: prettier, eslint

Fixed: productos menu
  src/app/modules/admin/productos/menu-productos/productos.component.html
  src/app/modules/admin/productos/menu-productos/productos.component.scss
  src/app/modules/admin/productos/menu-productos/productos.component.ts
Due: prettier, eslint, stylelint

chore/ci: add Codecov integration and documentation
  .github/workflows/ci.yml
  README.md
  docs/GITHUB-SECRETS-SETUP.md
Due: none

chore/ci: enable CI workflow on develop branch
  .github/workflows/ci.yml
Due: none

fix: corregir errores de build en Netlify y agregar gestión de categorías
  .cursorrules
  netlify.toml
  package-lock.json
  src/app/modules/admin/admin.routes.spec.ts
  src/app/modules/admin/admin.routes.ts
  src/app/modules/admin/productos/gestionar-categorias/gestionar-categorias.component.html
  src/app/modules/admin/productos/gestionar-categorias/gestionar-categorias.component.scss
  src/app/modules/admin/productos/gestionar-categorias/gestionar-categorias.component.spec.ts
  src/app/modules/admin/productos/gestionar-categorias/gestionar-categorias.component.ts
  src/app/modules/admin/productos/menu-productos/productos.component.spec.ts
  src/app/modules/admin/productos/menu-productos/productos.component.ts
  src/app/shared/mocks/test-doubles.ts
Due: prettier, eslint, stylelint

fix: corregir sintaxis TOML y comando de build en netlify.toml
  netlify.toml
Due: none

fix: deshabilitar Edge Functions y auto-detección de framework en Netlify
  netlify.toml
Due: none

fix: sobrescribir plugins de Netlify para excluir angular-runtime
  netlify.toml
Due: none

fix: usar build sin SSR para evitar conflicto con angular-runtime plugin
  netlify.toml
Due: none

fix: deshabilitar SSR completamente con --ssr=false
  package.json
Due: none

fix: crear configuración production-spa sin SSR
  angular.json
  package.json
Due: none

refactor: desactivar SSR por defecto, mantener opción disponible
  angular.json
  package.json
Due: none

fix: usar npm install --legacy-peer-deps en CI/CD workflows
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none
