Repository ElLuchoMan/restaurante-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
        args:
          - "--fix=auto"

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
      - id: pyupgrade
        args:
          - "--py310-plus"
        stages:
          - manual

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: '(\.ya?ml)$'

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks
        args:
          - "detect"
          - "--no-banner"
          - "--redact"
        stages:
          - pre-commit
          - pre-push

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: npx prettier --write
        files: '^(src|tools|public)/.*\.(ts|js|html|scss|md|json|ya?ml|css)$'
        exclude: 'src/assets/lib/'

      - id: eslint
        name: eslint
        language: system
        entry: npx eslint --fix --quiet --max-warnings=100
        files: '^src/.*\.(ts|js)$'

      - id: stylelint
        name: stylelint
        language: system
        entry: npx stylelint --fix
        files: '^src/app/.*\.scss$'
        exclude: ''

      - id: jest
        name: jest (affected)
        language: system
        entry: npx jest -c jest.config.cjs --bail --findRelatedTests
        files: '^src/.*\.(ts|html|scss)$'
        pass_filenames: true
        stages:
          - manual

      - id: validate-mocks
        name: validate mocks
        language: system
        entry: npm run validate:mocks --silent
        files: '^src/.*\.(ts)$'
        stages:
          - manual
ci:
  autofix_prs: false
  skip:
    - pyupgrade
    - jest
    - validate-mocks

docs: eliminar documentación obsoleta de Firebase
  docs/FIREBASE-SETUP.md
Due: none

Updated:deps
  package-lock.json
  package.json
Due: none

Refactor modal to ticket shape with zig-zag edges and scroll fix
  package-lock.json
  src/app/app.component.ts
  src/app/core/services/layout.service.ts
  src/app/modules/client/mis-pedidos/mis-pedidos.component.html
  src/app/modules/client/mis-pedidos/mis-pedidos.component.scss
  src/app/modules/client/mis-pedidos/mis-pedidos.component.spec.ts
  src/app/modules/client/mis-pedidos/mis-pedidos.component.ts
  src/app/modules/client/pedido-ticket/pedido-ticket.component.html
  src/app/modules/client/pedido-ticket/pedido-ticket.component.scss
  src/app/modules/client/pedido-ticket/pedido-ticket.component.spec.ts
  src/app/modules/client/pedido-ticket/pedido-ticket.component.ts
  src/app/modules/client/pedido/pedido.component.html
  src/app/modules/client/pedido/pedido.component.spec.ts
  src/app/modules/client/pedido/pedido.component.ts
  src/app/shared/components/header/header.component.ts
  src/app/shared/components/modal/modal.component.ts
Due: prettier, eslint, stylelint

Optimized: styles
  src/app/modules/admin/enviar-notificacion/enviar-notificacion.scss
  src/app/modules/admin/productos/crear-producto/crear-producto.component.scss
  src/app/modules/admin/productos/gestionar-categorias/gestionar-categorias.component.scss
  src/app/modules/auth/login/login.component.scss
  src/app/modules/auth/register/register.component.scss
  src/app/modules/client/carrito/carrito.component.scss
  src/app/modules/client/pedido-ticket/pedido-ticket.component.scss
  src/app/modules/client/pedido/pedido.component.scss
  src/app/modules/client/perfil/perfil.component.scss
  src/app/modules/public/home/home.component.scss
  src/app/modules/public/notification-center/notification-center.component.scss
  src/app/modules/public/ver-productos/ver-productos.component.scss
  src/app/shared/components/footer/footer.component.scss
  src/app/shared/components/modal/modal.component.scss
  src/app/shared/components/native-topbar/native-topbar.component.scss
  src/assets/_base.scss
  src/assets/_components.scss
  src/assets/_menu-modal-components.scss
  src/assets/_utilities.scss
  src/assets/_variables.scss
Due: prettier, stylelint

chore: update dependencies to latest patch versions
  package-lock.json
  package.json
Due: none

chore(deps): pending dependency bump and android gradle tweak (legacy pending changes)
  android/build.gradle
  package-lock.json
  package.json
Due: none

chore(deps): update Angular 21.2.25, Capacitor 8.5, Firebase 12.19 and tooling; add jest-environment-jsdom; pin eslint 9
  package-lock.json
  package.json
  src/app/shared/pipes/safe.pipe.spec.ts
Due: prettier, eslint

ci: backport automatico master -> develop tras cada merge a master
  .github/workflows/sync-develop.yml
Due: none

feat: apuntar el front al backend en Render
  .github/workflows/deploy.yml
  netlify.toml
  public/app-config.json
  src/environments/environment.prod.ts
Due: prettier, eslint

fix(netlify): el proxy /restaurante/v1/* debe ir antes del fallback SPA /*
  netlify.toml
Due: none

fix(config): leer app-config.json aunque app-config.local.json devuelva HTML
  src/app/core/services/app-config.service.spec.ts
  src/app/core/services/app-config.service.ts
Due: prettier, eslint

fix: fuga de listeners en native-topbar, suscripciones acumuladas en iOS y fallback de push
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/core/services/native-push.service.spec.ts
  src/app/core/services/native-push.service.ts
  src/app/shared/components/native-topbar/native-topbar.component.spec.ts
  src/app/shared/components/native-topbar/native-topbar.component.ts
Due: prettier, eslint

test: cobertura al 100% (statements, branches, functions y lines)
  jest.config.cjs
  src/app/core/interceptors/api-base.interceptor.ts
  src/app/core/interceptors/correlation.interceptor.spec.ts
  src/app/core/interceptors/telemetry.interceptor.spec.ts
  src/app/core/services/cambios-horario.service.spec.ts
  src/app/core/services/horario-trabajador.service.spec.ts
  src/app/core/services/native-push.service.ssr.spec.ts
  src/app/core/services/network.service.spec.ts
  src/app/core/services/pedido.service.spec.ts
  src/app/core/services/performance.service.ssr.spec.ts
  src/app/core/services/telemetry.service.ssr.spec.ts
  src/app/core/services/telemetry.service.ts
  src/app/core/services/user.service.ssr.spec.ts
  src/app/modules/auth/register/register.component.ts
  src/app/modules/public/ubicacion-restaurante/ubicacion-restaurante.component.ssr.spec.ts
  src/app/modules/public/ver-productos/ver-productos.component.ssr.spec.ts
  src/app/modules/public/ver-productos/ver-productos.component.ts
  src/app/modules/trabajadores/domicilios/tomar-domicilio/tomar-domicilio.component.spec.ts
  src/app/shared/components/floating-cart/floating-cart.component.spec.ts
  src/app/shared/components/header/header.component.ssr.spec.ts
  src/app/shared/components/native-topbar/native-topbar.component.ssr.spec.ts
  src/app/shared/pipes/format-date.pipe.ts
  src/app/shared/utils/image.utils.ssr.spec.ts
Due: prettier, eslint

docs: regla de tests obligatorios con cobertura al 100% (README, CONTRIBUTING, CLAUDE.md)
  CLAUDE.md
  CONTRIBUTING.md
  README.md
Due: none

fix(styles): usar rutas relativas al importar _variables.scss en componentes
  src/app/app.component.scss
  src/app/modules/admin/acciones/acciones.scss
  src/app/modules/admin/pedidos/gestionar-domicilios/gestionar-domicilios.component.scss
  src/app/modules/admin/pedidos/gestionar-pagos/gestionar-pagos.component.scss
  src/app/modules/admin/pedidos/gestionar-pedidos/gestionar-pedidos.component.scss
  src/app/modules/admin/pedidos/menu-pedidos/menu-pedidos.component.scss
  src/app/modules/admin/productos/historico-precios/historico-precios.component.scss
  src/app/modules/public/page-not-found/page-not-found.component.scss
  src/app/modules/public/reservas/menu-reservas/menu-reservas.component.scss
Due: prettier, stylelint

feat(api): desactivar ofertas y cupones (DELETE ?id=)
  src/app/core/services/cupon.service.spec.ts
  src/app/core/services/cupon.service.ts
  src/app/core/services/oferta.service.spec.ts
  src/app/core/services/oferta.service.ts
Due: prettier, eslint

feat(seguridad): consulta de reservas por rol y flujo de descuentos/cupones nuevo
  src/app/core/services/cupon.service.spec.ts
  src/app/core/services/cupon.service.ts
  src/app/core/services/descuento.service.spec.ts
  src/app/core/services/descuento.service.ts
  src/app/core/services/oferta.service.ts
  src/app/core/services/reserva-contacto.service.ts
  src/app/core/services/reserva.service.spec.ts
  src/app/core/services/reserva.service.ts
  src/app/modules/public/public.routes.spec.ts
  src/app/modules/public/public.routes.ts
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.html
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.spec.ts
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.ts
  src/app/modules/public/reservas/crear-reserva/crear-reserva.component.html
  src/app/modules/public/reservas/crear-reserva/crear-reserva.component.spec.ts
  src/app/modules/public/reservas/crear-reserva/crear-reserva.component.ts
  src/app/shared/mocks/descuento.mock.ts
  src/app/shared/mocks/mocks.spec.ts
  src/app/shared/mocks/reserva.mocks.ts
  src/app/shared/mocks/test-doubles.ts
  src/app/shared/models/cupon.model.ts
  src/app/shared/models/descuento.model.ts
  src/app/shared/models/reserva.model.ts
Due: prettier, eslint

feat(push): el servidor envía las notificaciones; registro de dispositivo sin dueño en el body
  src/app/core/services/native-push.service.spec.ts
  src/app/core/services/native-push.service.ts
  src/app/core/services/pedido-notifications.service.spec.ts
  src/app/core/services/pedido-notifications.service.ts
  src/app/core/services/reserva-notifications.service.spec.ts
  src/app/core/services/reserva-notifications.service.ts
  src/app/core/services/web-push.service.spec.ts
  src/app/core/services/web-push.service.ts
  src/app/modules/client/carrito/carrito.component.spec.ts
  src/app/modules/client/carrito/carrito.component.ts
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.spec.ts
  src/app/modules/public/reservas/consultar-reserva/consultar-reserva.component.ts
  src/app/modules/public/reservas/crear-reserva/crear-reserva.component.spec.ts
  src/app/modules/public/reservas/crear-reserva/crear-reserva.component.ts
  src/app/modules/public/reservas/reservas-del-dia/reservas-del-dia.component.spec.ts
  src/app/modules/public/reservas/reservas-del-dia/reservas-del-dia.component.ts
  src/app/shared/mocks/push.mock.ts
  src/app/shared/mocks/test-doubles.ts
  src/app/shared/models/push.model.ts
Due: prettier, eslint

feat(seguridad): el carrito deja de enviar documentoCliente y muestra los motivos del backend
  src/app/core/services/domicilio.service.ts
  src/app/core/services/metodos-pago.service.ts
  src/app/core/services/pago.service.ts
  src/app/core/services/pedido.service.ts
  src/app/core/services/producto-pedido.service.ts
  src/app/modules/client/carrito/carrito.component.spec.ts
  src/app/modules/client/carrito/carrito.component.ts
  src/app/modules/trabajadores/domicilios/ruta-domicilio/ruta-domicilio.component.spec.ts
  src/app/modules/trabajadores/domicilios/ruta-domicilio/ruta-domicilio.component.ts
  src/app/shared/models/pago.model.ts
  src/app/shared/models/pedido.model.ts
Due: prettier, eslint

fix(carrito): el total lo fija el servidor; subtotal local solo como estimado
  src/app/core/services/pago.service.ts
  src/app/modules/client/carrito/carrito.component.html
  src/app/modules/client/carrito/carrito.component.spec.ts
  src/app/modules/client/carrito/carrito.component.ts
  src/app/shared/models/pago.model.ts
Due: prettier, eslint

feat(carrito): checkout atomico en una sola llamada
  src/app/core/services/pago.service.ts
  src/app/core/services/pedido.service.spec.ts
  src/app/core/services/pedido.service.ts
  src/app/modules/client/carrito/carrito.component.spec.ts
  src/app/modules/client/carrito/carrito.component.ts
  src/app/shared/mocks/pedido.mock.ts
  src/app/shared/mocks/test-doubles.ts
  src/app/shared/models/checkout.model.ts
  src/app/shared/models/pago.model.ts
Due: prettier, eslint
